<!DOCTYPE html>
<html>
	<head>
    	<meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="css/user_account_style.css">
    </head>    
    <body background="images/home_background.jpg">
	<body>
		<div class="reg_title"><h1>Moj nalog</h1></div>
        <div class="reg_mane">
            <div id=account>

                <h2 class="usernamelabel">Korisničko ime</h2>
                <h3 class="username">{{loggedUser.username}}</h3><br>

                <h2 class="namelabel">Ime</h2>
                <h3 class="name">{{loggedUser.name}}</h3><br>

                <h2 class="lastnamelabel">Prezime</h2>
                <h3 class="lastname">{{loggedUser.surname}}</h3><br>

                <h2 class="pollabel">Pol</h2>
                <h3 v-if="loggedUser.gender == true" class="pol">Muško</h3>
                <h3 v-else class="pol">Žensko</h3><br>

                <h2 class="rolelabel">Uloga</h2>
                <h3 v-if="loggedUser.role === 'GUEST'" class="role">Gost</h3>
                <h3 v-if="loggedUser.role === 'HOST'" class="role">Domaćin</h3>
                <h3 v-if="loggedUser.role === 'ADMINISTRATOR'" class="role">Administrator</h3><br>    

                <h2 class="passwordlabel">Lozinka</h2>
                <h3 class="password">{{loggedUser.password}}<h3><br>

                <button v-on:click="homePage">Početna</button>
            </div>
        </div>
        
        <script src="js/vue.js"></script>
		<script src="js/axios.js"></script>
		<script src="js/userAccount.js"></script>
	</body>
</html>