*{
    margin: 0;
    padding: 0;
}

body{
    background-size: cover;
    font-family: Candara;
    margin-top: 80px;
}

.reg_title{
    width: 400px;
    background-color: rgb(0, 0, 0, 0.6);
    color: azure;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px 10px 10px 10px;
}

.reg_mane{
    width: 400px;
    background-color: rgb(0, 0, 0, 0.5);
    color: azure;
    margin: auto;
    text-align: left;
    border-radius: 10px 10px 10px 10px;
}

form{
    padding: 10px;
    margin-left: 10px;
}

.username{
    position: relative;
    top: 10px;
    left: 3px;
}

.usernameinput{
    position: relative;
    top: -12px;
    left: 180px;
}

.name{
    position: relative;
    top: 10px;
    left: 3px;
}

.nameinput{
    position: relative;
    top: -12px;
    left: 180px;
}

.lastname{
    position: relative;
    top: 10px;
    left: 3px;
}

.lastnameinput{
    position: relative;
    top: -12px;
    left: 180px;
}

.password{
    position: relative;
    top: 10px;
    left: 3px;
}

.passwordinput{
    position: relative;
    top: -12px;
    left: 180px;
}

.reppass{
    position: relative;
    top: 10px;
    left: 3px;
}

.reppassinput{
    position: relative;
    top: -12px;
    left: 180px;
}

.pol{
    position: relative;
    top: 10px;
    left: 3px;
}

.radio{
    position: relative;
    top: -12px;
    left: 180px;
}

button{
    height: 50px;
    width: 200px;
    background-color: teal;
    color: azure;
    font-family: Candara;
    font-weight: bold;
    font-size: 22;
    border: 1px transparent;
    border-radius: 35px;
    margin-left: 70px;
}

button:hover{
    background-color: azure;
    color: teal;
    transition: 0.7s ease;
}
