*{
    margin: 0;
    padding: 0;
}

body{
    background-size: cover;
    font-family: Candara;
    margin-top: 80px;
}

.reg_title{
    width: 420px;
    background-color: rgb(0, 0, 0, 0.6);
    color: azure;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px 10px 10px 10px;
}

.reg_mane{
    width: 420px;
    background-color: rgb(0, 0, 0, 0.5);
    color: azure;
    margin: auto;
    text-align: left;
    border-radius: 10px 10px 10px 10px;
}

form{
    padding: 10px;
    margin-left: 10px;
}

.username{
    position: relative;
    top: 10px;
    left: 3px;
}

.usernameinput{
    position: relative;
    top: -15px;
    left: 180px;
}

.name{
    position: relative;
    top: -10px;
    left: 3px;
}

.nameinput{
    position: relative;
    top: -32px;
    left: 180px;
}

.lastname{
    position: relative;
    top: -10px;
    left: 3px;
}

.lastnameinput{
    position: relative;
    top: -32px;
    left: 180px;
}

.password{
    position: relative;
    top: -34px;
    left: 3px;
}

.passwordinput{
    position: relative;
    top: -56px;
    left: 180px;
}

.reppass{
    position: relative;
    top: -30px;
    left: 3px;
}

.reppassinput{
    position: relative;
    top: -52px;
    left: 180px;
}

.pol{
    position: relative;
    top: -8px;
    left: 3px;
}

.polinput{
    position: relative;
    top: -30px;
    left: 180px;
}

.role{
    position: relative;
    top: -22px;
    left: 3px;
}

.roleinput{
    position: relative;
    top: -44px;
    left: 180px;
}

.radio{
    position: relative;
    top: -12px;
    left: 180px;
}

button{
    height: 50px;
    width: 200px;
    position: relative;
    top: -20px;
    background-color: teal;
    color: azure;
    font-family: Candara;
    font-weight: bold;
    font-size: 22;
    border: 1px transparent;
    border-radius: 35px;
    margin-left: 80px;
}

button:hover{
    background-color: azure;
    color: teal;
    transition: 0.7s ease;
}

a {
    border : 1px solid #fff;
    text-decoration: none;
    color: azure;
    padding: 5px 20px;
    border: 1px transparent;
    border-radius: 35px;
    color: azure;
    float: left;
    font-weight: bold;
    list-style-type: none;
    margin-top: -60px;
    margin-left: 15px;
    padding: 5px 20px;
}

a:hover{
    background-color: teal;
    color: azure;
    transition: 0.7s ease;
}

